
<link rel="stylesheet" href="../styles/registerStyles.css">


<style>
#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
</style>
<!-- LOGIN FORM -->
<div class="mdl-grid">

    <div class="mdl-card mdl-shadow--16dp mdl-color--blue-grey-900 util-center-l util-spacing-h--40px">
        <div class="mdl-card__title" style="background-color: #00b9d8;">
            <h2 class="mdl-card__title-text mdl-color-text--white" style="margin: 0 auto;">User Login</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-grid" id="card">
        
            <% if (messages.error) { %>
                <b class="mdl-color-text--red"><%= messages.error %></b>
            <% } %>
        

            <form method="POST" action="/login">
                <input type="hidden" name="action" value="login"/>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_username">Username</label>
                    <input class="mdl-textfield__input" type="text" id="textfield_username" name="input_username"/>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_password">Password Confirm</label>
                    <input class="mdl-textfield__input" type="password" id="textfield_password" name="input_password"/>
                </div>

                <div class="mdl-cell mdl-cell--12-col send-button" align="center">
                    <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-color--blue-grey-800" id="login">
                        Login
                    </button>
                </div>

                <div class="typo-styles__demo mdl-typography--headline smallText-centered" align="center"><a href="/register" id="registerButton">Register for an account</a></div>

            </form>

        </div>
    </div>
</div>
<script>
    /*
    $(window).load(() => {
        var user = document.getElementById('userl');
        var pass = document.getElementById('pass1');
        var username = document.getElementById('textfield_username').value;
        var password = document.getElementById('textfield_password').value;

        setTimeout(() => {
            pass.MaterialTextfield.change(password +' ');
            user.MaterialTextfield.change(username+' ');
        }, 50);
    });
    */
</script>
