<link rel="stylesheet" href="/styles/registerStyles.css">


<style>
#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
</style>
    <!-- REGISTER FORM -->
<div class="mdl-grid" >
    <div class="mdl-card mdl-shadow--16dp mdl-color--blue-grey-900 util-center-r util-spacing-h--40px">
        <div class="mdl-card__title" style="background-color: #00b9d8;">
            <h2 class="mdl-card__title-text mdl-color-text--white" style="margin: 0 auto;">Create a New Account</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-grid">

            <b class="mdl-color-text--accent"></b>
        

            <form method="POST" action="/register">
                <input type="hidden" name="action" value="register"/>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_email">Email</label>
                    <input class="mdl-textfield__input" type="text" id="textfield_new_email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email"/>
                    <span class="mdl-textfield__error" id="regEmailError">
                        3-15 characters with only lowercase letters, digits, underscore, and hyphen</span>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_username">Username</label>
                    <input class="mdl-textfield__input" type="text" id="textfield_new_username" name="username" pattern="^[a-z0-9_-]{3,15}$"/>
                    <span class="mdl-textfield__error" id="regUserError">3-15 characters with only lowercase letters, digits, underscore, and hyphen</span></span>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_password">Password</label>
                    <input class="mdl-textfield__input" type="password" id="textfield_new_password" name="password"
                            pattern="^([a-zA-Z0-9]|[!@#$%^&()]){6,20}$"/>
                    <span class="mdl-textfield__error" id="regPasswordError">
                        Password must be 6-20 characters in length, and can only contain the following symbols: !@#$%^&*()
                    </span>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                    <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_password_confirm">Password Confirm</label>
                    <input class="mdl-textfield__input" type="password" id="textfield_password_confirm" name="password_confirm" oninput="check(this)"/>
                    <span class="mdl-textfield__error" id="confPasswordError";>
                        Password must match
                    </span>
                </div>
                
                <div class="mdl-cell mdl-cell--12-col send-button" align="center">
                    <button onclick="verifyReg(this)" id="regButton" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-color--blue-grey-800" id="register">
                        Register
                    </button>
                </div>

                <div class="typo-styles__demo mdl-typography--headline smallText-centered" align="center"><a href="/login" id="loginButton">Already have an account?</a></div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="/js/register.js"></script>