.smooth-cursor {
    position: absolute;
    font-weight: 500;
    font-size: 35px;
    transform: translate(51px, 62px);
    color: white;
    -webkit-animation: 1s smooth;
    -moz-animation: 1s smooth ;
    -ms-animation: 1s smooth;
    -o-animation: 1s smooth;
    animation: 0.1s smooth;
  }
  
  @keyframes "smooth" {
    0% { transform: translate(var(--startX), var(--startY));}
    100%{ transform: translate(var(--endX), var(--endY));}
  }
  
  @-moz-keyframes smooth {
    0% { transform: translate(var(--startX), var(--startY));}
    100%{ transform: translate(var(--endX), var(--endY));}
  }
  
  @-webkit-keyframes "smooth" {
    0% { transform: translate(var(--startX), var(--startY));}
    100%{ transform: translate(var(--endX), var(--endY));}
  }
  
  @-ms-keyframes "smooth" {
    0% { transform: translate(var(--startX), var(--startY));}
    100%{ transform: translate(var(--endX), var(--endY));}
  }
  
  @-o-keyframes "smooth" {
    0% { transform: translate(var(--startX), var(--startY));}
    100%{ transform: translate(var(--endX), var(--endY));}
  }

.blinking-cursor {
    position: absolute;
    font-weight: 500;
    font-size: 35px;
    transform: translate(-4px, -4px);
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }