/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Helvetica';
  background-color: black;
}

.sidePanelText {
  color: black;
}

#mainContent {
  padding-top: 75px;
  margin-left: 300px;
}
.demo-avatar {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  left:50%;
  margin-right: -50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
}

#sidePanel {
  width: 300px;
}

#usernameField {
  position: absolute;
  max-width: 200px;
  overflow-wrap: break-word;
  font-size: 25px;
  left:50%;
  margin-right: -50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}

#joinQueueButton {
  color: white;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  background-color: #00b9d8 !important;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-chart:nth-child(2) {
  color: #ACEC00;
}
.demo-chart:nth-child(1) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('../images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#typeText, #typeTextCopy {
    position: relative;
    padding: 25px;
    color:rgb(153, 158, 163);
    margin: 30px;
    font-size: 25pt;
    min-height: 250px;
    line-height: normal;
}

#typeBarContainer {
    width: 100%;
    margin: 0 20px 5px 20px;
}

#typeBar {
    font-size: 25px;
    color: white;
    border-bottom: 1px solid;
}

::placeholder {
  color: rgb(153, 158, 163);
}

#demo-label {
    font-size: 20px;
    color: white;
}

#startButton {
    margin: 0 0 15px 30px;
}

#accuracy {
  height: 575px;
  flex-direction: column;
}

#accuracyMeter {
  margin: 6px;
}

.errorInput {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.4);
}

.races {
  margin: 40px 0 0 40px;
}

.race {
  height: 75px;
}

.info-text {
  margin: 20px;
  color: white
}

.info-text-small {
  color: white;
  font-size: 20px;
}

.info-text-red {
  color: red;
  font-size: 20px;
  margin: 0 0 30px 30px;
}

.stats-header {
  margin: 0 0 30px 0;
}

.progressBar {
  margin: 15px 0 0 150px;
  height: 5px;
}

.raceBar {
  margin: -15px 0 0 150px;
  width: 600px;
}

.progressBar > .progressbar {
  background-color: rgb(0,255,0);
  border-right: 2px solid slategray;
}

.progressBar > .bufferbar {
  background-image: none;
  background-color: white;
}

.progressBar > .auxbar {
  background-image: none;
  background-color: white;
}

#statTable {
  padding-top: 30px;
  margin: auto;
}

#wpmBox {
  margin: 0 0 0 30px;
}

#raceContainer {
  display: none;
  position: relative;
}
#raceStatus {
  display: none;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 100px;
  z-index: 5;
  transform: translate(-50%, -50%);
  text-align: center;
}

#statusMessage {
  margin: 30px 0 5px 0;
}

.placeText {
  margin: -20px 0 0 780px
}

.dot-flashing {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #00b9d8;
  color: #00b9d8;
  animation: dotFlashing 0.6s infinite linear alternate;
  animation-delay: .3s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #00b9d8;
  color: #00b9d8;
  animation: dotFlashing 0.6s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #00b9d8;
  color: #00b9d8;
  animation: dotFlashing 0.6s infinite alternate;
  animation-delay: 0.6s;
}

@keyframes dotFlashing {
  0% {
    background-color: #00b9d8;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
