.util-center-l {
    margin: 150px auto;
}

.util-center-r {
    margin: 100px auto;
    
}

.util-max-512px {
    max-width: 512px;
}

.util-spacing-h--40px {
    margin-bottom: 40px
}
.util-no-decoration {
    text-decoration: none;
}

input[type="text"], input[type="password"] {
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 10px;
    color: white;
}

label {
    box-sizing: border-box;
    padding-left: 10px;
}

.inputText {
    font-size: 30px;
}

.smallText-centered {
    font-size: 15px;
    margin-top: 30px;
}

#login {
    color: white;
}

#register {
    color: white;
}

#registerButton {
    color: lightslategray;
}

#loginButton {
    color: lightslategray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #263238 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}