.demo-content {
    padding-top: 50px;
    max-width: 1300px;
}

.info-card-header {
    margin: 25px 0 0 0;
}

.centered-parent {
    position: relative;
}

.centered-child {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.stat-text {
    color: #00b9d8;
    font-size: 40px;
}