body {
    background-color: slategray;
}

table {
    margin: 10px;
    width: 280px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.content {
    text-align: center;
    margin: auto;
}

.buttonContainer {
    padding-top: 30px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    border-style: none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton:focus {
    outline: 0;
}

.sideBarLeft {
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 100px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    height: 700px;
}

.sideBarRight {
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 100px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    height: 700px;
}

#typeText {
    border: 1px solid gray;
    min-height: 250px;  /* if you want Flexible textarea/div then give min-height instead of height */
    overflow: auto; 
    padding: 2px;
    resize: both;
    color:#000;
    margin: auto;
    width: 570px;
    font-size: 25px;
    background-color: #ffffff;
}

#typeBar {
    line-height: 2em;
    font-size: 25px;
    background-color: #ffffff;
}
