<link rel="stylesheet" href="../styles/statStyles.css">

<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--blue-grey-900 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid centered-parent" id="accuracy">
        <div class="typo-styles__demo mdl-typography--headline info-text info-card-header">Average Speed</div>
        <div class="typo-styles__demo mdl-typography--headline centered-child stat-text"><%= averageWPM %></div>
    </div>
    <div class="demo-charts mdl-color--blue-grey-900 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid centered-parent" id="accuracy">
        <div class="typo-styles__demo mdl-typography--headline info-text info-card-header">Accuracy</div>
        <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart centered-child" id="accuracyGraph">
            <use xlink:href="#piechart" mask="url(#piemask)" />
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.25" fill="#fff" text-anchor="middle" dy="0.1" id="accuracyNumber"><%= accuracy %><tspan font-size="0.1" dy="-0.07">%</tspan></text>
        </svg>
    </div>
    <div class="demo-charts mdl-color--blue-grey-900 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid centered-parent" id="accuracy">
        <div class="typo-styles__demo mdl-typography--headline info-text info-card-header">Fastest Race</div>
        <div class="typo-styles__demo mdl-typography--headline centered-child stat-text"><%= fastestRace %></div>
    </div>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--blue-grey-900 mdl-cell mdl-cell--12-col">
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
        <use xlink:href="#chart" />
        </svg>
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
        <use xlink:href="#chart" />
        </svg>
      </div>
    <div class="demo-charts mdl-color--blue-grey-900 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
        <use xlink:href="#piechart" mask="url(#piemask)" />
        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#fff" text-anchor="middle" dy="0.1">82<tspan font-size="0.2" dy="-0.07">%</tspan></text>
        </svg>
        <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
        <use xlink:href="#piechart" mask="url(#piemask)" />
        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#fff" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
        </svg>
        <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
        <use xlink:href="#piechart" mask="url(#piemask)" />
        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#fff" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
        </svg>
        <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
        <use xlink:href="#piechart" mask="url(#piemask)" />
        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#fff" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
        </svg>
  </div>
</div>

<script src="/js/stats.js"></script>
<script>
  $(document).ready(() => {
    setAccuracyBar(<%= accuracy %>);
  });
</script>